/* @media screen and (min-width: 1534px){ */
.desktop-5-TsB {
    background-color: #ffffff;
    height: 219.7rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .desktop-4-hFj {
      align-items: center;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 219.7rem;
      left: 0;
      overflow: hidden;
      padding: 3.1rem 1.918rem 41rem 1.918rem;
      position: absolute;
      top: 0;
      width: 153.4rem;
  
      .desktop-top-navbar-1-CkD {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 4.8rem;
        margin: 0rem 20.7rem 16rem 0rem;
  
        .logo-5Z7 {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: calc(100% - 0.8rem);
          margin: 0.4rem 5.3rem 0.4rem 0rem;
          overflow: hidden;
          position: relative;
  
          .favicon-zvy {
            flex-shrink: 0;
            height: 4rem;
            margin-right: 1rem;
            object-fit: contain;
            vertical-align: top;
            width: 4rem;
          }
          .brand-name-XR7 {
            color: #0b004d;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 0.01rem;
            line-height: 1;
            margin-top: 1.5rem;
            white-space: nowrap;
          }
        }
        .text-large-text-button--8Qu {
          align-items: center;
          color: #007dfc;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          height: 100%;
          justify-content: center;
          letter-spacing: 0.02rem;
          line-height: 2;
          margin-right: 0.4rem;
          white-space: nowrap;
          width: 10.5rem;
        }
        .text-large-text-button--B8H {
          align-items: center;
          color: #007dfc;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          height: 100%;
          justify-content: center;
          letter-spacing: 0.02rem;
          line-height: 2;
          margin-right: 0.35rem;
          white-space: nowrap;
          width: 10.7rem;
        }
        .text-large-text-button--EMT {
          align-items: center;
          color: #007dfc;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          height: 100%;
          justify-content: center;
          letter-spacing: 0.02rem;
          line-height: 2;
          margin-right: 0.3rem;
          white-space: nowrap;
          width: 12.1rem;
        }
        .text-large-text-button--uiV {
          cursor: pointer;
          flex-shrink: 0;
          height: 100%;
          margin-right: 22.15rem;
          width: 9.6rem;
        }
        .filled-medium-filled-button--FXT {
          align-items: center;
          background-color: #007dfc;
          border-radius: 2.5rem;
          box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1000000015);
          color: #ffffff;
          cursor: pointer;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          height: calc(100% - 0.8rem);
          justify-content: center;
          letter-spacing: 0.02rem;
          line-height: 2;
          margin: 0.4rem 0;
          white-space: nowrap;
          width: 10.1rem;
        }
      }
      .auto-group-jbbt-TtR {
        flex-shrink: 0;
        height: 154.8rem;
        margin-right: 2.3436rem;
        position: relative;
        width: 147.2214rem;
  
        .frame-8-nfo {
          height: 154.8rem;
          left: 10.5825rem;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 113.5rem;
  
          .auto-group-ndsj-6Rb {
            align-items: center;
            display: flex;
            height: 41.6rem;
            margin-bottom: 66.8rem;
            width: 100%;
  
            .open-sans-montserrat-dRX {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;
              margin-right: 22.1rem;
  
              .unlock-your-learning-potential-with-campus-chronicle-ibP {
                color: #000000;
                flex-shrink: 0;
                font-family: Open Sans, 'Source Sans Pro';
                font-size: 4.8rem;
                font-weight: 800;
                letter-spacing: 0.02rem;
                line-height: 1.3333333333;
                margin-bottom: 8rem;
                max-width: 36.9rem;
  
                .unlock-your-learning-potential-with-campus-chronicle-ibP-sub-0 {
                }
                .unlock-your-learning-potential-with-campus-chronicle-ibP-sub-1 {
                  color: #007dfc;
                  font-family: Open Sans, 'Source Sans Pro';
                  font-size: 4.8rem;
                  font-weight: 800;
                  letter-spacing: 0.02rem;
                  line-height: 1.3333333333;
                }
              }
              .embrace-lifes-vastness-venture-forth-and-discover-the-wonders-waiting-beyond-the-world-beckons-seize-its-grand-offerings-now-GPw {
                color: #000000;
                flex-shrink: 0;
                font-family: Montserrat, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.02rem;
                line-height: 1.4285714286;
                max-width: 30.3rem;
              }
            }
            .auto-group-km8z-L8u {
              flex-shrink: 0;
              height: calc(100% - 3.8616rem);
              margin: 1.2rem 0rem 2.662rem 0rem;
              position: relative;
              width: 54.5rem;
  
              .ellipse-21-3p1 {
                height: 37.7384rem;
                left: 10.621rem;
                object-fit: contain;
                position: absolute;
                top: 0;
                vertical-align: top;
                width: 39.277rem;
              }
              .girl-1-P7B {
                border-radius: 27.991rem;
                height: 36rem;
                left: 0;
                object-fit: cover;
                position: absolute;
                top: 0.8rem;
                vertical-align: top;
                width: 54.5rem;
              }
            }
          }
          .no-sky-is-not-the-limit-it-is-only-the-beginning-h7s {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 800;
            letter-spacing: 0.02rem;
            line-height: 1.3333333333;
            margin-left: 1.8rem;
            max-width: 45.6rem;
          }
          .auto-group-nhrx-zsf {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 12.1rem 4.9rem 0rem 4.9rem;
            width: 100%;
  
            .filled-large-filled-button--uDw {
              align-items: center;
              background-color: #007dfc;
              border-radius: 2.5rem;
              box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1000000015);
              color: #ffffff;
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 700;
              height: 4.8rem;
              justify-content: center;
              letter-spacing: 0.02rem;
              line-height: 2;
              margin: 0rem 0rem 7.9rem 1.1rem;
              white-space: nowrap;
              width: 15rem;
            }
            .auto-group-yfjj-iSH {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              height: 2.4rem;
              margin-right: 69rem;
              width: calc(100% - 69rem);
  
              .frame-7-rHb {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                height: 100%;
                margin-right: 7.7rem;
                padding: 0.2rem 0rem 0.2rem 0.2rem;
  
                .icon-park-solid-check-one-NFw{
                  flex-shrink: 0;
                  height: 2rem;
                  margin-right: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2rem;
                }
                .resources-syP {
                  color: #ffffff;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  letter-spacing: 0.02rem;
                  line-height: 1.3333333333;
                  margin-bottom: 0rem;
                  white-space: nowrap;
                }
              }
              .frame-6-naZ {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                height: 100%;
                padding: 0.2rem 0rem 0.2rem 0.2rem;
  
                .icon-park-solid-check-one-X2M {
                  flex-shrink: 0;
                  height: 2rem;
                  margin-right: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  width: 2rem;
                }
                .build-connection-Tgh {
                  color: #000000;
                  flex-shrink: 0;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  letter-spacing: 0.02rem;
                  line-height: 1.3333333333;
                  margin-bottom: 0rem;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .frame-10-xtM {
          height: 46.6rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 41rem;
          width: 74.7825rem;
  
          .rectangle-i6q {
            background-image: url('bv.png');
            width: 100%;
            /* background-position: -12.6555rem -5.8709rem; 
            background-size: 115.847% 111.811%;
            height: 41.6rem; 
            position: absolute;
            width: 48.5767rem;*/ 
          }
        } 
        .great-things-are-done-by-a-series-of-small-things-brought-together-Pim {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 800;
          height: 32rem;
          left: 67.4825rem;
          letter-spacing: 0.02rem;
          line-height: 1.3333333333;
          position: absolute;
          top: 53rem;
          width: 41.9rem;
        }
        .hero-1-GGm {
          height: 41.6rem;
          left: 83.7308rem;
          object-fit: cover;
          position: absolute;
          top: 101rem;
          vertical-align: top;
          width: 48.5767rem;
        }
        .rectangle-BuX {
          background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/D83kBH72NdeUxBtzEdN8tH/files/image/838fd9cb23aee61571b321cca13408612a896bc7');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: 32.8rem;
          left: 107.593rem;
          position: absolute;
          top: 64.3rem;
          width: 39.6283rem;
        }
      }
    }
    .frame-9-3wj {
      align-items: center;
      background-color: #090030;
      box-sizing: border-box;
      display: flex;
      height: 26.6rem;
      left: 0;
      overflow: hidden;
      padding: 3.9rem 23.22rem 3.5rem 11.82rem;
      position: absolute;
      top: 193.1rem;
      width: 153.7196rem;
  
      .our-mission-is-to-foster-information-among-students-of-different-interests-at-the-university-9E5 {
        color: #6677ce;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2.4;
        margin-right: 34.7804rem;
        max-width: 25.5rem;
      }
      .about-us-DDw {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2;
        margin: 0rem 10.1rem 1.6rem 0rem;
        white-space: nowrap;
      }
      .our-team-XVX {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2;
        margin: 0rem 12.1rem 1.6rem 0rem;
        white-space: nowrap;
      }
      .help-center-3Ts {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2;
        margin: 0rem 14.1rem 1.6rem 0.8rem;
        white-space: nowrap;
      }
    }
  }
  /* body {
    zoom: 100%;
    transform: scale(1);
    transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
    transform: scale(1);
    transform-origin: 0 0;
}
}  */