:root{
  --desktop-width: 100%;
}
.desktop-1-4cV {
    width: var(--desktop-width);
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0.7rem;
    position: relative;
   
  
    .auto-group-5h4h-e4u {
      flex-shrink: 0;
      height: 197.9rem;
      position: relative;
      width: 100%;
  
      .logout-Qbo {
        color: #af7400;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 800;
        height: 1.8rem;
        left: 140.5rem;
        line-height: 1.2125;
        position: absolute;
        top: -0.8rem;
        bottom: 0.2em;
        white-space: nowrap;
        width: 5.6rem;
      }
      .frame-11-dUZ {
        height: 197.9rem;
        left: 0;
        overflow: hidden;
        position: relative;
        top: 0;
        width: 154.6rem;
  
        .auto-group-skqh-kp5 {
          align-items: flex-start;
          display: flex;
          margin: 0rem 0rem 0.7rem 0.5rem;
  
          .favicon-1-Fkq {
            flex-shrink: 0;
            height: 2.4rem;
            margin-right: 0.9rem;
            object-fit: cover;
            vertical-align: top;
            width: 2.4rem;
          }
          .auto-group-7dw5-yRw {
            flex-shrink: 0;
            height: 3.4rem;
            margin-right: 122.2rem;
            position: absolute;
            width: 21rem;
  
            .campus-chronicle-7HF {
              color: #004de4;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-style: italic;
              font-weight: 700;
              height: 2.5rem;
              left: 0;
              line-height: 1.2125;
              position: absolute;
              top: -1.5rem;
              white-space: nowrap;
              width: 18.1rem;
            }
            .empower-your-learning-yim {
              align-items: baseline;
              color: #000000;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.2rem;
              font-style: italic;
              font-weight: 700;
              height: 1.5rem;
              left: 7.4rem;
              line-height: 1.2102272511;
              position: absolute;
              top: 1.5rem;
              white-space: nowrap;
              width: 13.6rem;
  
              .empower-your-learning-yim-sub-0 {
                color: #0007b6;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-style: italic;
                font-weight: 500;
                line-height: 1.2125;
              }
              .empower-your-learning-yim-sub-1 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.2rem;
                font-style: italic;
                font-weight: 700;
                line-height: 1.2125;
              }
            }
          }
          .bell-1{
            margin-right: 100rem;
            flex-shrink: 0;
            height: 3.3rem;
            margin-top: 0.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 3.2rem;
          }
          .user-1-zQu {
            flex-shrink: 0;
            height: 3.3rem;
            margin-top: 0.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 3.2rem;
          }
        }
        .auto-group-tuwo-vJZ {
          color:#6677ce;
          height: 193.7rem;
          position: relative;
          width: 100%;
  
          .lib-1-RWD {
            height: 55rem;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 138.7rem;
            vertical-align: top;
            width: 154.6rem;
          }
          .rectangle-3-Mem {
            background-color: rgba(14, 7, 7, 0.9399999976);
            height: 76.1rem;
            left: 0;
            top: 0;
            width: 18.8rem;
          }
          .notes-1-5Ks {
            height: 5.9rem;
            left: 5.8rem;
            object-fit: cover;
            position: absolute;
            top: 5.5rem;
            vertical-align: top;
            width: 6.7rem;
          }
          .opportunity-1-cKo {
            height: 7.2rem;
            left: 5.8rem;
            object-fit: cover;
            position: absolute;
            top: 33.6rem;
            vertical-align: top;
            width: 6.6rem;
          }
          .placement-1-wcy {
            height: 7.1rem;
            left: 5.7rem;
            object-fit: cover;
            position: absolute;
            top: 48.1rem;
            vertical-align: top;
            width: 7.1rem;
          }
          .pyq-1-g4m {
            height: 7.2rem;
            left: 5.4rem;
            object-fit: cover;
            position: absolute;
            top: 18.9rem;
            vertical-align: top;
            width: 7.1rem;
          }
          .clubs-1-R2M {
            height: 10rem;
            left: 4.5rem;
            object-fit: cover;
            position: absolute;
            top: 60.9rem;
            vertical-align: top;
            width: 9.9rem;
          }
          }
          .notes-ZPT {
            color: rgba(255, 255, 248, 0.4600000083);
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
            height: 2.5rem;
            left: 5.6rem;
            line-height: 1.2125;
            position: absolute;
            display: inline-block;
            top: 12.2rem;
            white-space: nowrap;
            width: 5.7rem;
          }
          .notes-content {
            left: 100%;
            top: 1rem;
            display: none;
            position: absolute;
            background-color: #b2c2ef;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(164, 211, 161, 0.401);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .notes-content a {
            color: rgb(0, 0, 0);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          /* Change color of dropdown links on hover */
          .notes-content a:hover {
            background-color: #2e6775
          }

          
          /* Show the dropdown menu on hover */
          .notes-ZPT:hover .notes-content {
            display: block;
          }
          
          /* Change the background color of the dropdown button when the dropdown content is shown */
          .notes-ZPT:hover{
            color: #af7400;
          }
          .book-1-sQ9 {
            height: 62.9rem;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 76rem;
            vertical-align: top;
            width: 154.6rem;
          }
          .enhance-learning-experience-and-access-various-resources-and-notice-oYh {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-style: italic;
            font-weight: 300;
            height: 13.1rem;
            left: 43.7rem;
            line-height: 1.2125;
            position: absolute;
            top: 117rem;
            width: 49.8rem;
          }
          .rectangle-1-5m7 {
            background-color: #3774ba;
            border-radius: 8rem;
            height: 4.8rem;
            left: 43.3rem;
            position: absolute;
            top: 111.1rem;
            width: 14.7rem;
          }
          .rectangle-3-QoP {
            background-color: #1c4a7f;
            border-radius: 8rem;
            height: 4.8rem;
            left: 34.9rem;
            position: absolute;
            top: 171.1rem;
            width: 14.7rem;
          }
          .click-here--woK {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
            height: 4.8rem;
            left: 45.2rem;
            letter-spacing: 0.02rem;
            line-height: 2.4;
            position: absolute;
            top: 109rem;
            white-space: nowrap;
            width: 10.9rem;
          }
          .get-information-on-various-clubs-events-activities-and-opportunities-on-campus-EGd {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-style: italic;
            font-weight: 400;
            height: 14.4rem;
            left: 34.9rem;
            letter-spacing: 0.02rem;
            line-height: 1.3333333333;
            position: absolute;
            top: 140rem;
            width: 60.4rem;
          }
          .click-here--JXP {
            align-items: baseline;
            color: #ffffff;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 400;
            height: 4.8rem;
            left: 36.8rem;
            letter-spacing: 0.02rem;
            line-height: 2.4;
            position: absolute;
            top: 169rem;
            white-space: nowrap;
            width: 11.1rem;
            
  
            .click-here--JXP-sub-0 {
              color: #ffffff;
              margin-top: 0rem;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-style: italic;
              font-weight: 600;
              letter-spacing: 0.02rem;
              line-height: 2.4;
            }
            .click-here--JXP-sub-1 {
              color: #ffffff;
              margin-top: 0rem;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-style: italic;
              font-weight: 600;
              letter-spacing: 0.02rem;
              line-height: 2.4;
            }            
          }
          .pyq-vx5 {
            color: rgba(255, 255, 248, 0.4600000083);
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
            height: 2.5rem;
            left: 1rem;
            line-height: 1.2125;
            position: relative;
            display: inline-block;
            top: 40.6rem;
            white-space: nowrap;
            width: 4.2rem;
          }
          .pyq-content {
            left: 100%;
            top: 1rem;
            display: none;
            position: absolute;
            background-color: #b2c2ef;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(164, 211, 161, 0.401);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .pyq-content a {
            color: rgb(0, 0, 0);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          /* Change color of dropdown links on hover */
          .pyq-content a:hover {
            background-color: #2e6775
          }

          
          /* Show the dropdown menu on hover */
          .pyq-vx5:hover .pyq-content {
            display: block;
          }
          
          /* Change the background color of the dropdown button when the dropdown content is shown */
          .pyq-vx5:hover{
            color: #af7400;
          }
          .opportunity-S9j:hover{
          color:#af7400;
          }
          .opportunity-S9j {
            color: rgba(255, 255, 248, 0.4600000083);
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
            height: 2.5rem;
            left: 3.8rem;
            line-height: 1.2125;
            position: absolute;
            top: 27rem;
            white-space: nowrap;
            width: 11.6rem;
          }
          .opportunity-content {
            left: 100%;
            top: 1rem;
            display: none;
            position: absolute;
            background-color: #b2c2ef;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(164, 211, 161, 0.401);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .opportunity-content a {
            color: rgb(0, 0, 0);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          /* Change color of dropdown links on hover */
          .opportunity-content a:hover {
            background-color: #2e6775
          }

          
          /* Show the dropdown menu on hover */
          .opportunity-S9j:hover .opportunity-content {
            display: block;
          }
         
          .placement-8oF:hover{
            color:#af7400;
          }
          .placement-8oF{
            color: rgba(255, 255, 248, 0.4600000083);
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
            height: 6.9rem;
            left: 4.3rem;
            line-height: 1.2125;
            position: absolute;
            top: 54.2rem;
            white-space: nowrap;
            width: 10.2rem;
          }
          .placement-content {
            left: 100%;
            top: 1rem;
            display: none;
            position: absolute;
            background-color: #b2c2ef;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(164, 211, 161, 0.401);
            z-index: 1;
          }
          
          /* Links inside the dropdown */
          .placement-content a {
            color: rgb(0, 0, 0);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          /* Change color of dropdown links on hover */
          .placement-content a:hover {
            background-color: #2e6775
          }

          
          /* Show the dropdown menu on hover */
          .placement-8oF:hover .placement-content {
            display: block;
          }
          
          .clubs-FN5:hover{
            color: #af7400;
          }
          .clubs-FN5 {
            color: rgba(255, 255, 248, 0.4600000083);
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-style: italic;
            font-weight: 500;
            height: 2.5rem;
            left: 6.9rem;
            line-height: 1.2125;
            position: absolute;
            top: 70.9rem;
            white-space: nowrap;
            width: 5.5rem;
          }
          .cllub{
               color:rgba(255, 255, 248, 0.4600000083);
          }
          .bgnd-1-xnH {
            height: 76.4rem;
            left: 18.8rem;
            object-fit: cover;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 135.8rem;
          }
          .campus-chronicle-is-a-platform-that-aims-to-foster-interaction-among-students-uhX {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            font-style: italic;
            font-weight: 500;
            height: 13.1rem;
            left: 60rem;
            line-height: 1.2125;
            position: absolute;
            top: 37rem;
            width: 60.2rem;
          }
        }
      }
    }
    .frame-9-mjj {
      align-items: center;
      background-color: #090030;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 22.3rem;
      overflow: hidden;
      padding: 1.3rem 24.1rem 1.8rem 9.8rem;
      position: relative;
      width: 100%;
  
      .our-mission-is-to-foster-information-among-students-of-different-interests-at-the-university-snm {
        color: #6677ce;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2.4;
        margin-right: 33.5rem;
        max-width: 27.5rem;
      }
      .about-us-xZK {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2;
        margin: 3.6rem 11.8rem 0rem 0rem;
        white-space: nowrap;
      }
      .our-team-sAV {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2;
        margin: 3.8rem 12.1rem 0rem 0rem;
        white-space: nowrap;
      }
      .help-center-BS5 {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 2;
        margin: 3.8rem 14.1rem 0rem 0rem;
        white-space: nowrap;
      }
    } 
  